/* common style */
body{
    font-family: 'Noto Sans KR', sans-serif !important;
    word-break: keep-all;
}
.primary{
    color: #ff6e61;
}
.bgPrimary{
    background: #ff6e61;
}
.pd10{
    padding: 10px;
}
.ml8{
    margin-left: 8px;
}
.mr8{
    margin-right: 8px;
}
.m10{
    margin: 10px;
}
.text-center{
    text-align: center;
}

/* header style */
#header{
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #1b2838;
}
#footer{
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #1b2838;
}
#header .inner,#footer .inner{
    position: relative;
    width: 1400px;
    margin: auto;
}
#header .sub{
    height: 0;
}
#header .sub.on{
    height: 166px;
}
.logo{
    width: 300px;
}
.logo img{
    width: 100%;
}
.top_nav{
    display: flex;
}
.gnb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}
.gnb li{
    margin: 0 40px;
    text-align: center;
}
.gnb li a{
    color: #1b2838;
}
.gnb li:hover a{
    font-weight: bold;
}
.ranking_box{
    height: 62px;
    margin-left: auto;
}
.ranking_roll{
    overflow: hidden;
    width: 100%;
    margin-top: -10px;
    background: #1b2838;
    color: #fff;
}
.ranking_roll:hover{
    overflow: visible;
}
.ranking_roll .top3{
    display: block;
    color: #ffee01;
    animation-name: lightning;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
@keyframes lightning{
    0% {color: #ffee01;}
    50% {color: #fff;}
    100% {color: #ffee01;}
}
.ranking_roll ul li{
    display: flex;
    height: 62px;
    padding: 10px;
    background: #1b2838;
    border-bottom: 1px solid #444;
    align-items: center;
}
.ranking_roll ul li img{
    width: 46px;
    margin: 0 8px;
}
.ranking_roll ul li img.col_card{
    width: 30px;
}
.ranking{
    background: #1b2838;
    width: 240px;
    padding: 20px;
}
.ranking a{
    display: block;
    color: #fff;
    padding: 20px 10px;
}
.ranking a:hover{
    color: #ccc;
}
.sub_menu{
    margin: auto;
    width: 700px;
    display: flex;
}
.sub_menu ul{
    flex: 1;
}
.sub_menu ul:first-child{
    margin-left: -20px;
    margin-right: 20px;
}
.sub_menu ul li{
    margin: 12px 0;
}
.sub_menu ul li:hover a{
    font-weight: bold;
}
.m_gnb{
    display: none;
}
#footer .logo{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
}
#footer .logo img{
    width: 200px;
}
#footer .company{
    display: flex;
    justify-content: center;
    margin: 10px 0 30px;
    word-break: keep-all;
}
#footer .company span{
    margin: 0 12px;
    
}


/* visual style */
.visual{
    width: 100%;
    background: #243745;
    color: #fff;
}
.visual .inner{
    display: flex;
    width: 1400px;
    margin: auto;
}
.left_bnr{
    display: flex;
    margin: 60px 60px 60px 0;
    padding: 40px;
    border: 3px solid #ccc;
    flex: 1;
}
.left_bnr h2{
    font-size: 28px;
}
.left_bnr h3{
    font-size: 40px;
    padding: 16px 0 40px;
}
.card_no1{
    margin-left: auto;
    margin-right: 100px;
}
.ranking_top p{
    line-height: 24px;
}
.card_no1 img{
    width: 160px;
}
.right_bnr{ 
    width: 20%;
    margin: 60px 0 60px 60px; 
    margin-left: auto;
}
.benefit_box{
    height: 66px;
    margin: 20px 0 40px;
}
.benefit_box .benefit strong{
    display: block;
    margin: 8px 0;
}
.benefit_box .benefit p{ 
    color: #ccc;
}
.recommend li{
    padding: 12px 0;
}
.recommend li span{
    float: left;
    display: block;
    clear: both;
    margin-right: 8px;
}
.recommend li img{
    width: 100px;
}
.recommend li strong{
    display: block;
    margin-bottom: 10px;
}
.recommend li p{
    color: #ccc;
    font-size: 14px;
}


/* content style */
.content{
    width: 100%;
}
.area-common{
    padding: 40px 0;
    margin: auto;
    width: 1400px;
}
.title{
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0 40px;
}

/* 고릴라 차트 */
.chart_wrp{
    display: flex;
}
.chart{
    flex: 1;
    margin: 0 8px;
}
.chart .title{
    display: flex;
    background: #1b2838;
    color: #fff;
    padding: 16px;
    font-size: 30px;
    line-height: 46px;
    margin: 0;
}
.chart .num1{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: auto;
}
.chart .num1 strong{
    display: inline-block;
}
.rank_lst li{
    display: flex;
    align-items: center;
    padding: 16px;
}
.rank_lst li:nth-child(odd){
    background: #eee;
}
.rank_lst li:nth-child(even){
    background: #ccc;
}
.rank_lst li em{
    margin-left: auto;
    font-size: 12px;
}
.rankup{
    color: #bc001a;
}
.rankdown{
    color: #004098;
}
.chart .more{
    width: 100%;
    border: 1px solid #eee;
    padding: 16px;
    color: #fff;
}
.chart .more:hover{
    background: #1b2838;
    text-shadow: 1px 1px 3px #999;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

/* 월간 고릴라 */
.weekly{
    display: flex;
    padding-top: 40px;
}
.weekly li{
    position: relative;
    margin: -40px 1vw 0 1vw;
    background: #fff;
    border-radius: 6px;
    padding: 10px;
}
.weekly > li{
    cursor: pointer;
    flex: 1;
}
.weekly li:hover{
    transform: scale(1.08);
    transition: 0.5s ease-in;
}
.img_box img{
    width: 100%;
}
.wrp_box h3{
    font-weight: bold;
    font-size: 18px;
    margin: 16px 0;
}
.place{
    word-break: keep-all;
    line-height: 28px;
}

/* 카드사 style */
.card_company{
    display: flex;
}
.card_company li{
    flex: 1;
}
.card_company li a{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 100px;
    margin: 0 8px;
    align-items: center;
    justify-content: center;
}
.card_company li a img{
    width: 80%;
}
.card_company li a p{
    display: none;
}
.card_company li a:hover{
    margin-top: -30px;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.card_company li a:hover p{
    display: block;
}
/* 뉴스레터 style */
.con4 form{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 26px auto 80px;
}
.con4 form input{
    flex: 1 1 auto;
    border: 1px solid #ccc;
    padding: 16px 12px;
}
.con4 form input:nth-child(2){
    margin-left: -1px;
}
.con4 form button{
    border: 1px solid #ccc;
    color: #fff;
    background: #1b2838;
    margin-left: -1px;
    width: 12%;
}





@media (max-width: 1400px){
    #header .inner{
        width: 100%;
    }
    #header .inner, #footer .inner{
        width: 100%;
    }
    .logo,.m_gnb img{
        padding: 0 8px;
    }
    .logo{
        display: flex;
        width: 20%;
        align-items: center;
    }
    .gnb{        
        width: 80%;
        padding-right: 8px;
        margin-left: auto;
    }
    .gnb li{
        flex: 1;
    }
    .sub_menu {
        display: flex;
        width: 80%;
        margin: 0;
        margin-left: auto;
    }
    .sub_menu ul {
        text-align: center;
        flex: 1;
    }
    .sub_menu ul:first-child{
        margin: 0;
    }
    .ranking_roll{
        display: none;
    }
    #footer .inner{
        display: flex;
    }
    #footer .company{
        flex-direction: column;
        text-align: center;
        line-height: 24px;    
        margin: auto;
    }
    #footer .con4 form input{
        flex: 1 1 auto;
    }
    .visual .inner{
        width: 100%;
    }
    .area-common{
        width: 100%;
    }
    .left_bnr{
        flex: 1 1 auto;
        margin: 60px;
    }
    .card_no1{
        margin-right: 0;
    }
    .right_bnr{
        flex: 1 1 auto;
        margin-right: 60px;
    }
}

@media (max-width: 1024px){
    #header {
        overflow: visible;
    }
    .gnb{
        display: none;
    }
    .m_gnb{
        position: relative; 
        display: flex;
        margin-left: auto;
        align-items: center;    
    }
    .sub_menu {
        padding-left: 348px;
    }
    #header .sub{
        display: none;
    }
    .m_gnb_lst{
        overflow: auto;
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 20;
        background: #fff;
        width: 100vw;
        border-bottom: 1px solid #ccc;
        margin-top: -10px;
    }
    .logo {
        width: 220px;
    }
    .m_gnb_lst.active{
        display: block;
    }
    .m_gnb_lst > ul{
        font-size: 20px;
    }
    .m_gnb_lst li{
        line-height: 60px;     
    }
    .m_gnb_lst li a{
        display: block;
    }
    .m_gnb_lst > ul li{
        transition-duration: 1s;
        transition-timing-function: linear;
    }    
    .m_gnb_lst > ul li ul{
        display: none;
        font-size: 16px;
        background: #eee;       
    }
    .m_gnb_lst > ul li:hover > a{
        font-weight: bold;
        color: #ff6e61;
    }
    .m_gnb_lst > ul li:hover ul{
        display: block;
    }
    .close_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        margin-top: 20px;
        margin-left: auto;
        width: 60px;
        height: 60px;
        border: 1px solid #ccc;
        border-radius: 50%;
        background: #fff;
    }
    .close_btn:hover{
        background: #1b2838;
        color: #fff;
    }
    .visual .inner{
        flex-direction: column;
    }
    .left_bnr h3 {
        padding: 20px 0;
    }
    .card_no1 {
        margin-top: 30px;
    }
    .right_bnr{
        display: none;
    }
    .con4 form{
        width: 90%;
        flex-direction: column;
    }
    .con4 form input:nth-child(2) {
        margin-left: 0;
        margin-top: -1px;
    }
    .con4 form button {
        width: 100%;
        padding: 16px 0;
        margin-top: -1px;
        margin-left: 0;
    }
}

@media (max-width: 768px){
    .left_bnr{
        flex-direction: column;
    }
    .m_chart{
        display: none;
    }
    .title{
        font-size: 24px;
        margin: 16px 0;
    }
    .chart .title {
        font-size: 20px;
        line-height: 30px;
    }
    .chart .num1{
        font-size: 14px;
    }
}

@media (max-width: 500px){
    .logo {
        width: 210px;
    }
    .top_nav{
        align-items: center;
    }
    #footer .inner{
        flex-direction: column;
    }
    .left_bnr{
        padding: 20px;
        margin: 20px;
    }
    .weekly {
        flex-direction: column;
    }
    .weekly li:hover {
        transform: scale(1.01);
    }    
    .weekly > li,.card_company li{
        display: block;
        flex: none;
        margin-bottom: 40px;
    }
    .card_company{
        flex-direction: column;
    }
    .card_company li{
        margin: 4px 0;
    }
    .card_company li a:hover{
        margin-top: 0;
        transition: none;
    }
    .card_company li a:hover p{
        display: none;
    }
    .card_company li a img {
        width: 60%;
    }
    .con3{
        padding-top: 0;
    }
}


